html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  font-size: 18px;
  color: #7d7d7d;
  font-family: $avenir-meidum;
}

img {
  height: auto;
}

*, :after, :before {
  @include box-sizing(border-box);
  outline: none;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: #3c3c3c;
  font-family: $museo-700;
}

h2 {
  margin: 0 0 35px;
  font-size: 51px;
}

img[style*="right"] {
  margin: 0 0 10px 20px;
  clear: right;
}

img[style*="left"] {
  margin: 0 20px 10px 0;
  clear: left;
}

a {
  color: #F05133;
}

.site-header {

  a.contextual-links-trigger {
    display: none;
  }

  .contextual-links-region {
    outline: none !important;
  }
}

a.contextual-links-trigger {
  display: block;
}

.contextual-links-region {
  outline: #999 dashed 1px;
}