.form {

  .form-wrapper {

    .form-text {
      padding: 6px 10px;
      border: 1px solid #adadad;
      width: 100%;
      background: #eaeaea;
    }

    .form-file {
      font-family: $museo-700;
    }
  }
}