.sidebar {
  margin-bottom: 10px;
  float: right;
  width: 100%;
  display: none;
  padding-left: 50px;

  .menu {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      font-family: $avenir-meidum-italic;
      font-size: 30px;
      padding: 0;
      margin: 0 0 24px 0;

      &:first-child a:before {
        @include pseudo-block($top: 50%, $left: 0);
        @include oneline-sprite-box($icons, sidebar-icon-1);
        @include transform(translateY(-50%));
      }

      &:nth-child(2) a:before {
        @include pseudo-block($top: 50%, $left: 0);
        @include oneline-sprite-box($icons, sidebar-icon-2);
        @include transform(translateY(-50%));
      }

      &:nth-child(3) a:before {
        @include pseudo-block($top: 50%, $left: 0);
        @include oneline-sprite-box($icons, sidebar-icon-3);
        @include transform(translateY(-50%));
      }

      &:nth-child(4) a:before {
        @include pseudo-block($top: 50%, $left: 0);
        @include oneline-sprite-box($icons, sidebar-icon-4);
        @include transform(translateY(-50%));
      }

      &:nth-child(5) a:before {
        @include pseudo-block($top: 50%, $left: 0);
        @include oneline-sprite-box($icons, sidebar-icon-5);
        @include transform(translateY(-50%));
      }

      &:nth-child(6) a:before {
        @include pseudo-block($top: 50%, $left: 0);
        @include oneline-sprite-box($icons, sidebar-icon-6);
        @include transform(translateY(-50%));
      }

      a {
        color: #3c3c3c;
        text-decoration: none;
        padding-left: 45px;
        position: relative;
      }
    }
  }


  h2 {
    padding-bottom: 30px;
  }

  .views-row {
    margin-bottom: 20px;
  }

  .news {
    @include clearfix();

    &.cols-three .col {
      width: 300px;
      margin-left: 37px;

      &:first-child {
        margin-left: 0;
      }
    }

    .hd {
      padding-bottom: 8px;
      font-weight: bold;
      margin-bottom: 24px;
      font-family: $avenir-ultra-light-italic;
    }

    h3 {
      line-height: 1.2;
      font-family: $avenir-meidum-italic;
      margin: 0 0 20px;
      font-size: 30px;

      a {
        font-family: $avenir-meidum-italic;
        text-decoration: none;
        color: #3c3c3c;

        &:hover {
          opacity: .7;
        }
      }
    }

    .date {
      font-family: $avenir-meidum-italic;
      font-size: 24px;
      margin-bottom: 20px;
    }

    a {
      font-family: $avenir-bold;
      color: #F05133;
      @include transition(opacity .3s);

      &:hover {
        opacity: .7;
      }
    }

    p {
      margin: 0 0 10px;
      font-family: $avenir-meidum;
    }

    img {
      display: block;
      margin-bottom: 15px;
    }
  }
}