.page-about {

  .block-system {

    #quicktabs-tabpage-who_we_are-1 {

      .content {

        .img {
          width: 200px;
          margin: 0 auto;
        }

        .text-desc {
          text-align: center;
        }
      }
    }

    .text {
      width: 100%;
      margin: 0 auto;
      padding: 30px 0 60px 0;
    }

    img {
      width: 100%;
    }

    h4 {
      font-size: 30px;
      width: 100%;
    }

    h6 {
      font-size: 30px;
      text-align: center;
    }
  }
}