.page-about {

  .block-system {

    .field-name-field-mt-items > .field-items > .field-item {
      padding-bottom: 0;
      margin-bottom: 30px;
    }

    #quicktabs-tabpage-who_we_are-1 {

      .content {

        .img {
          width: 100px;
          margin: 0 auto;
        }

        .text-desc {
          text-align: center;
        }
      }
    }

    .text {
      width: 100%;
      padding: 15px 0 20px 0;
    }

    img {
      width: 100%;
    }

    p {
      text-align: justify;
    }

    h4 {
      font-size: 18px;
      width: 100%;
    }

    h6 {
      font-size: 18px;
      text-align: center;
    }
  }
}