.page-rentals {

  .items {
    text-align: center;
  }

  .text {
    width: 100%;
    float: none;
  }

  .field-name-field-rentals-link{
    text-align: center;
    margin-bottom: 20px;
  }

  .rentals-button {
    float: none;
  }
}