.b-envire-edge {
  padding-left: 35%;
  font-size: 16px;

  .site-container {
    width: 510px;
    padding: 0 26px;
  }


  .logo {
    margin-right: 20px;
  }

  .hd {
    margin-bottom: 34px;
  }

  .text {
    letter-spacing: 1px;
  }

  p {
    margin: 0 0 20px;
  }

  .link {
    position: absolute;
    left: 12%;
    bottom: 88px;
    font-family: $museo-700;
    font-size: 19px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin-top: -12px;

    &:hover:before {
      left: -24px;
    }

    &:after {
      @include oneline-sprite-box($icons, link-img);
      @include pseudo-block($left: -78px, $top: -226px);
    }

    &:before {
      @include transition(left .3s);
      @include pseudo-block($left: -28px, $top: 50%);
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 21px solid #fff;
      margin-top: -12px;
    }
  }
}